<template>
  <body class="background">
    <div id="confdiv">
    <section class="card card--light">
      <form>
        <p><strong>Customer ID: {{ customerId }}</strong></p>
        
        <br />

        <p><strong>Orders: </strong></p>

        <ul v-for="(orders, index) in customerOrder" :key="index">
          <p><strong>{{ index + 1 }}. Movie ID: {{ customerOrder[index].movieid }}, Quantity:  {{ customerOrder[index].quantity}}</strong></p>
        </ul>

        <br />
        <br />


        <button class="button button--update" type="button" v-on:click="goBack">Back </button>
      </form>
    </section>
    </div>
  </body>
</template>

<script>
import store from '../js/store'

export default {
    name: "Confirmation",
    data () {
      return {
        customerId: store.currentCustomerId,
        customerOrder: store.customerOrder
      }
    },
    methods: {
      goBack() {
        store.customerOrder = null;
        store.customerId = null;
        this.$router.push('/');
      }
    }
}
</script>

<style scoped src="../css/index.css">
</style>