<template>    
  <body>
    <div class="background">
     <div id="maindiv">
         <h1>Browse movie tickets</h1>

      <br />

      <form type="submit">
        <section class="card card--light">
        <table id="table">
          <tr>
            <td><strong>Movie</strong></td>
            <td><strong>Price</strong></td>
            <td><strong>Quantity</strong></td>
          </tr>
          <tr v-for="(movie, index) in movies" :key="index">
            <td><strong>{{ movie.title }}</strong></td>
            <td><strong>{{ movie.price }}</strong></td>
            <td>
              <input v-model="movies[index].quantity" class="input"/>
            </td>
          </tr>
        </table>

        <br />

        <p><strong>Total: £{{ roundTotal(total) }}</strong></p>

        <br />

        <button class="button button--update" type="button" v-on:click="updateTotal">Update</button>

        <br />
        </section>
        
        <br />

        <p class="outline">Tickets are only valid for use on day of purchase</p>

        <br />

        <button class="button button--order" type="submit" v-on:click="submitOrder">Order now >></button>
      
      </form>

     <div>
      <ul v-if="errors.length">
        Please correct the following error(s):
        <li v-for="(error, index) in errors" :key="index">
          {{ error }}
        </li>
      </ul>
    </div>
      
      
       </div>
    </div>
  </body>  
</template>

<script>
  import store from '../js/store'
  import '../css/index.css'
  import '../bootstrap/css/bootstrap.min.css'

export default {
  name: 'Index',
  data() {
    return {
    customers: [0],
    customerOrder: [],
    currentCustomerId: 0,
    errors: [],
    customerId: 0,
    total: 0,
    movies: [
      { title: "Jaws", price: 3.99, id: 1, quantity: 0 },
      { title: "Batman", price: 5.99, id: 2, quantity: 0 }
    ]
    }
  },
  methods: {
     updateTotal() {
      this.total = 0;
      this.errors = [];
      for (var i = 0; i < this.movies.length; ++i) {
        if (this.movies[i].quantity % 1 == 0) {
        this.total += this.movies[i].quantity * this.movies[i].price;
        }
        else {
          this.errors.push("You may only enter integers as quantity");
        }
      }
    },
    submitOrder() {
      for (var i = 0; i < this.movies.length; ++i) {
        if (this.movies[0].quantity % 1 == 0 && this.movies[1].quantity % 1 == 0){
        if (this.movies[i].quantity > 0) {
          let currentOrder = {
            movieid: this.movies[i].id,
            quantity: this.movies[i].quantity,
            customerId: this.currentCustomerId
          };
            this.customerOrder.push(currentOrder)
          }
        store.customerOrder = this.customerOrder;
        store.currentCustomerId = this.currentCustomerId;
        this.$router.push('/Confirmation');
        }
        else {
          this.errors = [];
          this.errors.push("You may only enter integers as quantity");
        }
      }
    },
      roundTotal(total) {
        return parseFloat(Math.round(total*100)/100).toFixed(2);
      }
  },
  created() {
    this.currentCustomerId = this.customers[this.customers.length - 1] + 1;
  }
}
</script>

<style scoped src="../css/index.css">

</style>
