<template>
    <div id="background">
        <h1>Login</h1>
        <section class="logincard card--dark">
            <div class="logindetailsdiv"><div><p class="logintext">Username: </p></div><div><input class="logininput" type="text" v-bind="username" /></div></div>
        </section>
        <section class="logincard card--dark">
            <div class="logindetailsdiv"><div><p class="logintext">Password: </p></div><div><input class="logininput" type="text" v-bind="username" /></div></div>
        </section>
    
        <div style="text-align:center">
            <button type="button" v-on:click="goBack">Back</button>
            <button type="button">Login</button>
        </div>
    </div>
</template>


<script>
import '../css/login.css'


export default {
    name: 'Login',
    methods: {
        goBack() {
            this.$router.push('/')
        }
    } 
}
</script>

<style scoped src="../css/login.css">

</style>