html, body {
  height: 100%;
}

#app {
  height: 100%;
}

body, html {
  height: 100%;
}

#content {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px auto;
      grid-template-columns: 80px auto;
  -ms-grid-rows: auto 15px;
      grid-template-rows: auto 15px;
}

#grid1_1 {
  background-color: #3c4bbd;
}

#grid2_1 {
  background-color: lightblue;
}

#grid2_2 {
  background-color: lightblue;
  text-align: center;
}

#footertext {
  vertical-align: middle;
}

.navbutton {
  -webkit-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
          box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #3c4bbd), to(#4263c3));
  background: linear-gradient(to bottom, #3c4bbd 5%, #4263c3 100%);
  background-color: #3c4bbd;
  border: 1px solid #314179;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  width: 100%;
}

.navbutton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #5972a7), to(#637aad));
  background: linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
  background-color: #5972a7;
}

.navbutton:active {
  position: relative;
  top: 1px;
}
/*# sourceMappingURL=app.css.map */