html, body {
  height: 100%;
}

#app {
  height: 100%;
}
body, html {
  height: 100%;
}

#content {
  height: 100%;
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto 15px;
}

#grid1_1 {
  background-color: #3c4bbd;
  // background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAa0lEQVQoU2NkgIKmQ37/6+w2MYK4xpnX/h9piWDgFL4E54MZhBSdna7FyEiMIpBhYBNxWQcyCWYjTjchKwK5nRGbw9EVga3+/lbvP7LvsCkCGYbiRlyKdtW2QDwD0oFPkbDUMogbCSkCGQYAka1/qtQO9d8AAAAASUVORK5CYII=)
}

#grid2_1 {
  background-color: lightblue;
}

#grid2_2 {
  background-color: lightblue;
  text-align: center;
  
}

#footertext {
  vertical-align: middle;
}

#nav__home {
  // border-style: solid;
  // height: 30px;
}

#nav__login {
  // border-style: solid;
  // border-width: 1px;
  // height: 30px;
}

#nav__register {
  // border-style: solid;
  // height: 30px;
}

#nav__contact {
  // border-style: solid;
  // height: 30px;
}

.navbutton {
box-shadow:inset 0px 1px 0px 0px #7a8eb9;
// background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
background:linear-gradient(to bottom, #3c4bbd 5%, #4263c3 100%);
// background-color:#637aad;
background-color:#3c4bbd;
border:1px solid #314179;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:10px;
font-weight:bold;
padding:6px 12px;
  text-decoration:none;
  width: 100%;
}
.navbutton:hover {
background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
background-color:#5972a7;
}
.navbutton:active {
position:relative;
top:1px;
}