html {
  height: 100%;
}

body {
  height: 100%;
}

body .background {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(15%, #3C4BBD), to(transparent)), radial-gradient(circle at 100% 0%, rgba(255, 255, 255, 0.2) 10%, transparent 20%) center center/15px 15px, -webkit-gradient(linear, left top, right bottom, from(#3C4BBD), to(#57ADD8));
  background: linear-gradient(to bottom right, #3C4BBD 15%, transparent), radial-gradient(circle at 100% 0%, rgba(255, 255, 255, 0.2) 10%, transparent 20%) center center/15px 15px, linear-gradient(to bottom right, #3C4BBD, #57ADD8);
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

body table {
  margin-left: auto;
  margin-right: auto;
}

body h1 {
  margin: 0;
  padding: 15px;
  font-size: 30px;
  display: block;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

body p.outline {
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

div#maindiv {
  text-align: center;
}

@media (max-width: 750px) {
  div#maindiv {
    min-width: 200px;
  }
}

div#maindiv p {
  text-align: center;
}

div#maindiv input {
  width: 70px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

div#confdiv {
  text-align: center;
  padding-top: 100px;
  color: white;
}

@media (max-width: 750px) {
  div#confdiv {
    min-width: 200px;
  }
}

p {
  text-align: center;
}

.card {
  padding: 15px;
  width: 30%;
  margin: 1em auto;
  border-radius: 25px;
  border-style: solid;
  border-width: 1.5px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

@media (max-width: 750px) {
  .card {
    min-width: 200px;
  }
}

.card--light {
  background: #f9f9f9;
  color: #000;
}

.card--dark {
  background: #000;
  color: #f9f9f9;
}

.button {
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
          box-shadow: inset 0px 1px 0px 0px #ffffff;
  border-radius: 6px;
  border: 1.5px solid #000000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #89c403), to(#77a809));
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.button--update:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #0688fa), to(#2dabf9));
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}

.button--order:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f6f6f6), to(#ffffff));
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

td {
  padding: 8px;
}
/*# sourceMappingURL=index.css.map */