$colors: (
    primary: rgb(30, 49, 214),
    secondary: #2dabf9
);

$stopshrink: 750px;

@mixin stopshrink {
    @media (max-width: #{$stopshrink}){
        @content;
    }
}


$padding: 15px;

@function color($color-name) {
    @return map-get($colors, $color-name)
};

html {
    height: 100%;
}

body {
    height: 100%;
    
    .background {
        background: linear-gradient(to bottom right, #3C4BBD 15%, transparent), radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 10%, transparent 20%) center center / 15px 15px, linear-gradient(to bottom right, #3C4BBD, #57ADD8);
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }

    table {
        margin-left:auto; 
        margin-right:auto;
      }

    h1 {
        margin: 0;
        padding: $padding;
        font-size: 30px;
        display: block;
        text-decoration: uppercase;
        color: #FFFFFF;
        text-align: center;
        text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
      }

      p.outline {
          color: white;
          text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
      }

  }

  div#maindiv {

    text-align: center;
        
        @include stopshrink {
            min-width: 200px;
        }

      p {
          text-align: center;
      }

      input {
          width: 70px;
          text-align: center;
          border-style: solid;
          border-width: 1px;
      }
  }

  div#confdiv {

    text-align: center;
    padding-top: 100px;
    color: white;
        
        @include stopshrink {
            min-width: 200px;
        }
    }

  p {
    text-align: center;
    }

  .card {
    padding: $padding;
    width: 30%;
    margin: 1em auto;
    border-radius: 25px;
    border-style: solid;
    border-width: 1.5px;
    box-shadow: 0 10px 30px rgba(0,0,0,.2); 
    
        @include stopshrink {
            min-width: 200px;
        }

  }

  .card--light {
    background: #f9f9f9;
    color: #000;
  }

  .card--dark {
    background: #000;
    color: #f9f9f9;
  }


 .button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	border-radius:6px;
    border:1.5px solid #000000;
    background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
    font-weight:bold;
    padding: 5px 10px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    align-self: center;  
}

.button--update:hover {
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}

.button--order:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

  td {
	  padding: 8px;
  }
  




