$stopshrink: 750px;

@mixin stopshrink {
    @media (max-width: #{$stopshrink}){
        @content;
    }
}

body, html {
    height: 100%;
    width: 100%;
}

#background {
    height: 100%;
    background: linear-gradient(to bottom right, rgb(230, 2, 2) 15%, transparent), radial-gradient(circle at 100% 0%, rgba(218, 218, 218, 0.7) 10%, transparent 20%) center center / 15px 15px, linear-gradient(to bottom right, rgb(255, 62, 62), rgb(255, 32, 32));
}

h1 {
    margin: 0;
    padding-top: 120px;
    font-size: 60px;
    display: block;
    text-decoration: uppercase;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

.logininput {
    width: 80%;
    text-align: right;
    
}

.logincard {
    text-align: right;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 30%;
    margin: 1em auto;
    border-radius: 25px;
    border-style: solid;
    border-width: 1.5px;
    box-shadow: 0 10px 30px rgba(0,0,0,.2); 
    
    
        @include stopshrink {
            min-width: 200px;
        }

  }

  .logincard--light {
    background: #f9f9f9;
    color: #000;
  }

  .logincard--dark {
    background: #000;
    color: #f9f9f9;
  }

  .logindetailsdiv {
      display:grid;
      grid-template-columns: 50% 50%;
  }

  .logintext {
    padding-top: 8px;
  }

  #buttoncontainer {
    width: 20%;
    display:grid;
    grid-template-columns: 50% 50%;
    text-align: right;
    
  }
  