<template>
<html>
<body>
<div id="app">
    <div id="content">
    <div id="grid1_1">
      <div id="nav__home"><button v-on:click="goToHome" class="navbutton" type="button">HOME</button></div>
      <div id="nav__login"><button v-on:click="goToLogin" class="navbutton" type="button">LOGIN</button></div>
      <div id="nav__register"><button class="navbutton" type="button">REGISTER</button></div>
      <div id="nav__contact"><button class="navbutton" type="button">CONTACT</button></div>
    </div>
    <div id="grid1_2"><router-view></router-view></div>
    <div id="grid2_1"></div>
    <div id="grid2_2">Footer 2009 @ etc etc</div>
  </div>
</div>
</body>

</html>
</template>

<script>
import './css/app.css'

export default {
  name: 'app',
  methods: {
    goToLogin() {
      this.$router.push('/Login');
    },
    goToHome() {
      this.$router.push('/');
    }
  }
}
</script>

<style scoped src="./css/app.css">

</style>
